MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=mermaidAI
MINIO_SECRET_KEY=mermaidAI123
MINIO_BUCKET_NAME=mermaid

# API Backend
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000

# N8N Webhook
NEXT_PUBLIC_N8N_WEBHOOK_URL=http://localhost:5678/webhook/4d0142f3-af3e-41f9-96c8-91d0898bfd26